<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mapper.UserMapper">

    <select id="userLogin" resultType="com.example.entity.Auuser">
        SELECT * FROM auuser where loginCode=#{loginCode} and password=#{password}
    </select>
    <select id="validataName" resultType="int">
        SELECT COUNT(*) FROM auuser WHERE loginCode = #{name}
    </select>
    <select id="validataMobile" resultType="int">
        SELECT COUNT(*) FROM auuser WHERE mobile = #{mobile}
    </select>
    <insert id="insertUser" parameterType="com.example.entity.Auuser">
       INSERT INTO auuser VALUES(NULL,#{loginCode},#{password},#{loginCode},#{sex},#{mobile},NULL,NULL,NULL,NOW())
    </insert>
    <update id="modifyLastLogin" parameterType="String">
        UPDATE auuser SET lastLogin =NOW() WHERE loginCode = #{loginCode}
    </update>

</mapper>